<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <div style="max-width: 500px; margin: auto;">
        <h2>Edit Category</h2>
        <div class="border p-4" style="border-radius: 5px;">
            <form action="/category/edit/<%= category._id %>" method="POST">
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" name="name" value="<%= category.name %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>